html,
body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

canvas {
  background-color: #110101;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  width: 100dvw;
  aspect-ratio: calc((100dvw) / (100dvh));
  /* height: 100dvh; */
}

#containerCronometro {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  padding: 50px;
  z-index: 1;
}

#cronometro {
  font-size: 50px;
  font-weight: 900;
  color: #e9ede9;
}
