html,
body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

canvas {
  background-color: #110101;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  width: 100dvw;
  aspect-ratio: calc((100dvw) / (100dvh));
  /* height: 100dvh; */
}

.interface {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  padding: 50px;
  z-index: 1;
  text-align: center;
  display: grid;
  /* background-color: #880c0c41; */
}

#cronometro {
  font-size: 50px;
  font-weight: 900;
  color: #0c680c;
}

#mensajeFallo {
  color: #770505;
  opacity: 0.1;
  font-weight: 900;
  font-size: 70px;
  transition: opacity 0.3s;
}

#timelapsed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c680c;
  height: 1dvh;
  width: 0dvw;
  z-index: 1;
}

@keyframes width {
  to {
    width: 100%;
  }
}
