html,
body {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    color: #6f0808;
    font-family: Gothic;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --grosor-tiles: 80px;
    --alto-tiles: 150px;
    --separacion-ul: 45px;
}

canvas {
    background: #060115;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    /* touch-action: none; */
}

ul p {
    font-size: 30px;
}

span {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    font-size: 40px;
}

ul {
    position: fixed;
    display: block;
    top: 10px;
    z-index: 10;
    letter-spacing: 4px;
    font-weight: 100;
}

li {
    text-decoration: none;
    padding: 10px;
    font-size: 40px;
}

.gafuras li::marker {
    content: url("Pentagrama.svg");
}

.finuras li::marker {
    content: url("CruzInvert.svg");
}

.gafuras {
    left: var(--separacion-ul);
    direction: ltr;
}

.finuras {
    right: var(--separacion-ul);
    direction: rtl;
}