html, body {
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    background: black;
    font-family: monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root {
    --grosor-tiles: 80px;
    --alto-tiles: 150px;
    --separacion-ul: 45px;
}

canvas {
    background: #823;
    padding: 0px;
    margin: 0px;
    display: block;
    /* touch-action: none; */
}

span {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    font-size: 40px;
    font-weight: 800;
}

ul {
    position: fixed;
    display: block;
    top: 0;
    z-index: 100;
}

li {
    text-decoration: none;
    padding: 10px;
    font-size: 35px;
    list-style-type: square;
}

li::marker {
    font-size: 45px;
}

li:nth-child(2)::marker {
    color: green;
}

li:nth-child(3)::marker {
    color: pink;
}

li:nth-child(4)::marker {
    color: blue;
}

li:nth-child(5)::marker {
    color: yellow;
}

.gafuras {
    left: var(--separacion-ul);
    direction: ltr;
}

.finuras {
    right: var(--separacion-ul);
    direction: rtl;
}